In [1]:
import pandas as pd

# Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [11]:
df_log = pd.read_csv('visit_log.csv', sep=';')
df_log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [18]:
df_log['traffic_type'] = df_log['traffic_source']
df_log.loc[df_log.traffic_source.isin(['yandex', 'google']) , 'traffic_type'] = 'organic'
df_log.loc[(df_log.traffic_source == 'paid') & (df_log.region == 'Russia'), 'traffic_type'] = 'ad'
df_log.loc[(df_log.traffic_source == 'paid') & (df_log.region != 'Russia'), 'traffic_type'] = 'other'

df_log.sample(10)

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type
4645,1550008720,bc88009eec,https://host.ru/8880fd00cf23066541,Belarus,d1cb49147b,email,email
15152,1550071277,a29d8c2c10,https://host.ru/1be58f19f26458f2fe,China,d29319b264,paid,other
3997,1550004768,205a1fa4e9,https://host.ru/9f90e5c423a5f976d4,India,4fe7b59af6,google,organic
13405,1550060578,52526ca1d6,https://host.ru/060d9bdbcba66b8bb3,Belarus,0e7ec1012c,email,email
256,1549982288,5341e6b264,https://host.ru/b8b58337d272ee7b15,Russia,e57498827f,paid,ad
10852,1550045441,4d541c32f8,https://host.ru/6407d4271d7b23cdf5,Russia,a815be9fd6,yandex,organic
17751,1550087008,9a25857893,https://host.ru/ee7c4e0674a284ee3f,Russia,ad72052a2e,email,email
2791,1549997635,fdcf8c794d,https://host.ru/f2297425e1328e9e35,Belarus,6e7ccadc3a,direct,direct
15237,1550071822,62e729b39f,https://host.ru/2fcb223266880ccf57,Russia,2115b535f8,direct,direct
1427,1549989112,30f1d12f90,https://host.ru/05e41944dd85a900a6,Ukraine,03c6c730bb,email,email

# Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [20]:
df_url = pd.read_csv('URLs.txt')
df_url.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [24]:
re_news = r'/\d{8}-'
df_url[df_url.url.str.contains(re_news)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

### Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [2]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data.head()

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [3]:
from pymystem3 import Mystem
m = Mystem()

def lemmas(row):
    string = ' '.join(m.lemmatize(row)).strip()
    return string

data['lemmas'] = data.keyword.apply(lemmas)
data

                 keyword   shows                     lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль
1        доллары в рубли  114173         доллар   в   рубль
2  100 долларов в рублях   97534   100   доллар   в   рубль
3             курс рубля   53546               курс   рубль